<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zte.video.dao.MessageDao">
    <resultMap id="rmessage" type="message">
        <id property="id" column="mid"/>
        <result property="content" column="mcontent"/>
        <result property="messageDate" column="mDate"/>
        <result property="messageComment.id" column="cid/"/>
        <result property="messageComment.content" column="Mcon"/>
        <result property="messageComment.user" column="muser"/>
        <result property="messageComment.commentDate" column="mDate"/>
    </resultMap>

    <select id="selectAll" resultType="com.zte.video.vo.MessageVo">
        SELECT
        m.id,
        m.content,
        m.messageDate,
        （
        SELECT count(1)
        FROM t_messageComment t
        where t.mid=m.id
        ）as messageComment
        FROM t_message m

    </select>

    <insert id="insertMessage" parameterType="message">
        INSERT INTO
        t_message
        (content,messageDate,uid)
        VALUES
        (#{content},#{messageDate},#{uid})
    </insert>

    <delete id="deleteMessage" parameterType="message">
        DELETE
        FROM t_message
        WHERE
        id=#{id}
    </delete>


</mapper>