<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zte.video.dao.MessageDao">
    <resultMap id="rmessage" type="message">
        <id property="id" column="mid"/>
        <result property="content" column="mcontent"/>
        <result property="messageDate" column="mDate"/>
        <collection property="messageComments" ofType="messageComment">
            <id property="id" column="cid"/>
            <result property="content" column="ccontent"/>
        </collection>
    </resultMap>
</mapper>