<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zte.video.dao.UserDao">
    <resultMap id="ruser" type="user">
        <id property="id" column="uid"/>
        <result property="pwd" column="upwd"/>
        <result property="name" column="uname"/>
        <result property="registDate" column="uregistDate"/>
        <result property="power.id" column="cid"/>
        <result property="power.power" column="cpower"/>
    </resultMap>

    <!-- /**
     * 根据用户姓名查询
     * @param  name
     * @return
     **/
    public User selectByName(String name);-->
    <select id="selectByName" resultMap="ruser">
        SELECT
        u.id uid,
        u.pwd upwd,
        u.name uname,
        u.registDate uregistDate,
        (
        SELECT c.power FROM
        t_power c
        WHERE
        c.id=(
        SELECT
        powerID
        FROM
        t_user
        WHERE
        name=#{name}
         )
          )AS power
        FROM t_user u
        WHERE u.name=#{name}


    </select>

    <select id="selectPowerByName" resultMap="ruser">
        SELECT
        c.power cpower
        FROM t_power c
        WHERE
        c.id=
        (
        SELECT
        u.powerID
        FROM
        t_user u
        WHERE
        name=#{name}
        )
    </select>




    <insert id="insertUser" parameterType="user">
        INSERT INTO
        t_user
        (pwd,name,registDate,powerID)
        VALUES
        (#{pwd},#{name},#{registDate},#{powerID})
        WHERE
        id=#{id}
    </insert>

    <select id="selectByID" resultMap="ruser">
        SELECT
        *
        FROM
        t_user
        WHERE
        id=#{id}
    </select>




    <update id="updateUser" parameterType="user">
        UPDATE
        t_user
        SET
        name=#{name}
        pwd=#{pwd}
        WHERE
        id=#{id}
    </update>
</mapper>









